.indentation-first {
  
}

.indentation-first__div {
  overflow: hidden;
  margin-bottom: 30px;
}

.indentation-first__div:last-child {
  margin-bottom: 0;
}

.indentation-first__photo {
  float: left;
  margin-right: 30px;
  width: 560px;
  height: 415px;
  margin-bottom: 0;
}

.indentation-first__photo_two {
  float: right;
  width: 560px;
  height: 279px;
  margin: 0 0 0 40px;
}

.indentation-first__text {

}

.indentation-first__text_two {
  clear: left;
}

.indentation-first__title {

}
