@font-face {
  font-family: Roboto;
  src: local("Roboto"), local("Roboto-Regular"),
        url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto"), local("Roboto-Bold"),
        url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-display: swap;
} 

@font-face {
  font-family: Roboto;
  src: local("Roboto"), local("Roboto-Black"),
        url("../fonts/Roboto-Black.ttf");
  font-weight: 900;
  font-display: swap;
} 

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  --main-color: rgb(0, 0, 0);;
  --main-back: rgb(255, 255, 255);
  --main-grey: rgb(241, 241, 241);
  --main-green: rgb(2, 83, 95);
  --main-light-grey: rgb(94, 94, 94);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px; 
  min-height: 100vh;
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: var(--main-color);
  background-color: var(--main-back);
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset,
blockquote {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1080px;
  margin: 0 auto;

}

.section {
  padding-bottom: 50px;
}

.section-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 30px;
  word-spacing: 0;
}

.text {
  margin-bottom: 30px;
}

.text:last-child {
  margin-bottom: 0;
}

.photo {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}