.result {
  max-width: 1140px;
  border-radius: 10px;
  background: var(--main-grey);
  padding: 25px 30px 25px 45px;
}

.result__title {
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 700;
}

.result__item {
  margin-bottom: 10px;
}

.result__item::before {
  content: "─ ";
}

.result__item:last-of-type {
  margin-bottom: 0;
}

.result__list {
  margin-bottom: 30px;
}

.result__text {

}