.container {}

.indentation-second {}

.indentation__photo {}

.indentation__photo_two {}

.listItem {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.photo {
  margin-left: auto;
  margin-right: auto;
}

.section {}

.section-title {}

.text__vaz {
  color: rgb(94, 94, 94);
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  width: 1020px;
  margin: auto 30px;
}

.photo__code {
  margin-left: auto;
  margin-right: auto;
}