.indentation-third {

}

.indentation-third__photo {

}

.indentation-third__photo_eight {
  width: 600px;
  height: 600px;
}

.indentation-third__photo_nine {
  width: 600px;
  height: 607px;
}

.indentation-third__photo_ten {
  width: 1080px;
  height: 528px;
  margin-bottom: 0;
}

.indentation-third__photo_eleven {
  width: 1080px;
  height: 530px;
}

.indentation-third__photo_twelve {
  width: 1080px;
  height: 88px;
}

.indentation-third__photo_thirteen {
  width: 806px;
  height: 475px;
}

.indentation-third__photo_fourteen {
  width: 317px;
  height: 110px;
}

.indentation-third__photo_fifteen {
  width: 500px;
  height: 383px;
  margin-bottom: 0;
}

.indentation-third__text {

}

.indentation-third__title {

}
